<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary"routerLink="/Slider">Jobs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/Slider">Home</a>
                <a class="nav-link" routerLink="/About">About</a>
                <a class="nav-link" routerLink="/Profile">Profile</a>
                <a class="nav-link" routerLink="/Projects">Projects</a>
                <!-- <a class="nav-link" routerLink="/Slider">Home</a> -->
                <!-- Right elements -->
                <ul class="navbar-nav d-flex flex-row">
                    <!-- Icons -->
                    <!-- <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" routerLink="/Slider">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li> -->

                    <!-- Icon dropdown -->
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" routerLink="/login" role="button">
                            <i class="fas fa-user"></i>
                        </a>
                   
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
