<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slider/1.png" class="d-block" alt="..." width="1200px" height="500px"
        style="margin-left: 200px;margin-top: 20px;">
    </div>
    <div class="carousel-item">
      <img src="assets/slider/2.webp" class="d-block" alt="..." width="1200px" height="500px"
        style="margin-left: 200px;margin-top: 20px;">
    </div>
    <div class="carousel-item">
      <img src="assets/slider/3.png" class="d-block" alt="..." width="1200px" height="500px"
        style="margin-left: 200px;margin-top: 20px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>


<!-- Container (About Section) -->
<div class="container-fluid" style="height: 600px;">
  <div class="row">
    <div class="col-sm-8">

<section class="cont">
    
  
        <div class="para">
          
      <h2>About Company Page</h2>
          <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ut iure voluptatum dignissimos, placeat ad
            eum eius blanditiis corporis cupiditate, doloremque consequatur nobis cum asperiores labore, quos nulla
            perferendis molestiae.</h5>
          <p>Lorem ipsum..</p>
        </div>
     
        
        <img src="assets/home.jpg" alt="" class="image">
    
      </section>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo text-primary"></span>
    </div>
  </div>
</div>




<div class="stat">
  <div class="text">
   <p class="nums">70+</p>
   <p>Custom/Extended Components</p>
   <p>We've extended and restyled Bootstrap's default components, and built a suite of new custom components.</p>
  </div>
  <div class="text">
    <p class="nums">55+</p>
    <p>Pre-Built Page Examples</p>
    <p>Our pre-built page examples are a perfect way to get inspired for creating new pages and views.</p>
   </div>
   <div class="text">
    <p class="nums">100+</p>
    <p>Custom/Extended Utilites</p>
    <p>We've extended and created new utility classes to give you more control over your content with minimal custom CSS.</p>
   </div>
  
</div>
